@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html, body {
   font-family: 'Poppins', sans-serif;
   font-size: 1.125rem;
   font-weight: 500;
   line-height: 1.5;
}  
.brand-icon {
   cursor: pointer;
}
.brand-icon path {
   transition: all 0.2s;
   fill: #fff;
}

.brand-icon:hover path {
   fill: hsl(180, 66%, 49%);
}